<div style="margin-top:50px">
	<p style="font-size: 11px; color: blue"><b>* input a number and the application will return the highest prime which is less than or equal to the input number</b></p>
	<p style="font-size: 11px; color: blue"><b>* the number must be an integer in range [0:2147483647]</b></p>
</div>
<div>
	<b>Input a number:</b>
	<label>
		<input #numberValue (keyup.enter)="getPrime(numberValue.value)"/>
	</label>
	<button (click)="getPrime(numberValue.value)">Search</button>
</div>
<div>
	<p *ngIf="error!==undefined" style="font-size: 11px; color: red">{{error}}</p>
	<p *ngIf="prime!==undefined" style="font-size: 11px;">The highest prime: {{prime.output}} - Elapsed Time: {{prime.elapsedTime/1000}} Microseconds</p>
</div>
